/* @import "media2.css"; */

:root{
    --background-image: linear-gradient(200deg, rgba(171, 171, 171,0.05) 0%, rgba(171, 171, 171,0.05) 23%,rgba(90, 90, 90,0.05) 23%, rgba(90, 90, 90,0.05) 48%,rgba(65, 65, 65,0.05) 48%, rgba(65, 65, 65,0.05) 61%,rgba(232, 232, 232,0.05) 61%, rgba(232, 232, 232,0.05) 100%),linear-gradient(126deg, rgba(194, 194, 194,0.05) 0%, rgba(194, 194, 194,0.05) 11%,rgba(127, 127, 127,0.05) 11%, rgba(127, 127, 127,0.05) 33%,rgba(117, 117, 117,0.05) 33%, rgba(117, 117, 117,0.05) 99%,rgba(248, 248, 248,0.05) 99%, rgba(248, 248, 248,0.05) 100%),linear-gradient(144deg, rgba(64, 64, 64,0.05) 0%, rgba(64, 64, 64,0.05) 33%,rgba(211, 211, 211,0.05) 33%, rgba(211, 211, 211,0.05) 50%,rgba(53, 53, 53,0.05) 50%, rgba(53, 53, 53,0.05) 75%,rgba(144, 144, 144,0.05) 75%, rgba(144, 144, 144,0.05) 100%),linear-gradient(329deg, hsl(148,0%,0%),hsl(148,0%,0%));
}

body{
    background-image: url(images/background.jpg);
    background-size: cover;
    margin: 0px;
    font-family: "Segoe UI", Arial, sans-serif;
    color: white;
}

/* removing margin for all the textual elements */
h1,h2,h3,h4,h5,h6,p {
	margin: 0px;
}

/* removing all the styles from the links */
a{
    text-decoration: none;
    color: white;
}


/* styles related to header section at the top of the page*/

.nav-bar{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 15px;
}

/* logo of the website */
.logo img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.header-section div{
	display: inline-block;
}

/* favourites text */
.favourite {
	animation-iteration-count: infinite;
	color: rgb(255, 0, 0);
}

/* search bar section of the nav */
.search-bar {
	width: 20%;
	position: relative;
}

.search-bar input {
	width: 100%;
	font-size: 16px;
	text-decoration: none;
	border-radius: 18px;
	border: none;
	padding: 5px;
	font-weight: 500;
	text-align: center;
    outline: none;
}

.mag-glass {
	display: inline-block;
	position: absolute;
	width: min-content;
	left: 5%;
	top: 10%;
    color: rgb(170, 19, 19);
}

.mic {
	display: inline-block;
	position: absolute;
	width: min-content;
	left: 93%;
	top: 10%;
	transition: all ease-in-out 0.1s;
    color: rgb(170, 19, 19);
}


/* notification bell image */
.notification  div {
	vertical-align: middle;
	display: inline-block;
	height: 20%;
}

.bell-title {
    color:  red;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 600;
	animation-iteration-count: infinite;
}

.notification img{
    width: 35px;
    height: 35px;
}


/* profile picture of the user */
.profile img {
	width: 100%;
	height: 100%;
	border-radius: 100%;
}


/* -------------------------navigation bar is completed here ------------------------------*/
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */







/* main */
main {
	width: 100%;
	padding: 0% 3%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.aside {
	display: inline-block;
	overflow: hidden;
}

/* section one of the main part */
.section-1 {
	width: 70%;
	height: 85vh;
	overflow: scroll;
}
/* overflow should be scrollable but the scroll bar should be hidden*/
.section-1::-webkit-scrollbar {
	display: none;
}

/* aside section 1 */
.banner {
	height: 20vw;
	width: 100%;
	margin-top: 12px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
	position: relative;
    margin-top: 30px;
}
/* image insider banner */
.banner-image img{
	height: 20vw;
	width: 20vw;
    margin-left: 15px;
	
}
/* right part of the banner */
.banner-detail {
	width: 67%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	padding-right: 12px;
    color: red;
}
/* descriptive part contains the descripton of the song and action part contains the follow and play buttons */
.descriptive-part, .action-part {
	width: 100%;
	height: max-content;
}

/* song name and followers */
.song-name-main, .followers {
	display: inline-block;
}

/* song name heading properties */
.song-name-main h1 {
	font-size: 2vw;
}

.followers {
	position: absolute;
	right: 0%;
	top: -3%;
}

.followers, .author {
	font-size: 1.5vw;
}

/* description of the banner */
.desc {
	font-size: 1vw;
    color: white;
    margin-bottom: 1%;
}

.action-part p {
	font-size: 1vw;
}

.btns > button {
	border: 1px solid red;
	height: 3vw;
	width: 10vw;
	color: white;
	font-size: 1.2vw;
    background: transparent ;
    border-radius: 5px;
}

.btns > button:hover {
    background-color: white;
    color: black;
    font-weight: 900;
}


.playlist-item {
	height: 8vh;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 12px;
}

.playlist-item:hover {
    border: 1px solid white;
}

/* left part if the playlist item */
.left {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 30%;
	height: 100%;
	padding: 0% 1%;
}

.left h5 {
    color: red;

}
/* center part of the playlist item which contains the duration length of the song */
.center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: min-content;
	height: 100%;
}
/* right part of the playlist item, which contains icons */
.right {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 100%;
	padding-right: 2%;
}

/* catching the 2nd div inside the left div tag */
.left > div:nth-child(2) {
	height: 80%;
	min-width: 50px;
	max-width: 50px;
	margin: 0px 12% 0px 12%;
	position: relative;
}
.left > div:nth-child(2) img {
	width: 100%;
	height: 100%;
}

/* catcthing the artist name */
.left > div:nth-child(3) p {
	color: rgb(185, 185, 185);
}


/* styles on the play button */
.play-btn {
	background-color: black;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	opacity: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transition: all ease-in-out 0.1s;
}

.play-btn:hover {
	opacity: 0.7;
}

/* cathing the artist name */
.left div p {
	font-size: 12px;
}


.center {
	font-size: 12px;
	color: rgb(185, 185, 185);
}


.right {
	color: rgb(185, 185, 185);
}

/* catchnig the heart sybol */
.fa-heart {
	color: red;
}

/* catching the '+' symbol on the right most part */
.right div:nth-child(2) {
	margin-left: 27%;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ------------------------------queue section starts here----------------------------- */
/* section 2 of the main part */
.section-2 {
	width: 28%;
	height: 85vh;
	z-index: 2;
}


/* "more" button properties */
label {
	display: none;
	position: absolute;
	right: 0%;
	top: 20%;
	padding-bottom: 5px;
	z-index: 3;
	box-shadow: 0px 0px 2px 1px white;;
	width: 70px;
	font-size: 20px;
	height: 21px;
	text-align: center;
	background-color: rgb(64, 52, 235);
}

/* hiding the checkbox */
label ~ input {
	display: none;
}


/* ASIDE SECTION -2 */
/* this is the first section heading of the aside section 2 */
.section-heading {
	margin-top: 10px;
	position: relative;
	margin-bottom: 12px;
}
/* adjusting for side by side display */
.section-heading div,
.section-heading h1 {
	display: inline-block;
}
.section-heading h1 {
	font-size: 23px;
}
.section-heading div {
	position: absolute;
	bottom: 0%;
	right: 0px;
	font-size: 14px;
}

.list {
	height: 36vh;
	overflow: scroll;
}
/* hiding the scrollbar */
.list::-webkit-scrollbar {
	display: none;
}
/* this is particular item in the "list  container*/
.list-item {
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin-bottom: 12px;
}
/* hovering effect for the list item */
.list-item:hover {
	background-color: var(--playlist-items-background-color-on-hover);
}
/* adjusting the name and image of the songs relative to their original position */
.list-item > div:nth-child(1) {
	width: 100px;
	height: 100%;
	position: relative;
}
.list-item > div:nth-child(1) > img {
	width: 100%;
	height: 100%;
}
.author-name {
	font-size: 12px;
	color: rgb(185, 185, 185);
}
.extra {
	text-align: right;
	height: 100%;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Footer section starts here*/
/* this is the container for the whole footer */
footer {
	position: absolute;
	bottom: 1px;
	width: 100%;
	height: 60px;
	background-color: #282828;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	flex-wrap: nowrap;
	padding: 0px 3%;
	box-sizing: border-box;
	z-index: 6;
}
/* footer is divided into 3 parts */
/* 1. first part of the footer */
.active-song-description {
	/* border:1px solid white; */
	height: 90%;
	width: 25%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
/* the current song which is being played, this is the image container for that. */
#song-image {
	width: 50px;
	height: 50px;
	min-width: 50px;
	min-height: 50px;
}
/* current song image */
#song-image img {
	width: 100%;
	height: 100%;
}
/* heart and ban icon */
.heart-and-ban-icon {
	height: 100%;
	padding-top: 4%;
}
/* song decscription */
.song-desc {
	margin-right: 1%;
	margin-left: 1%;
}
/* song name */
.song-desc div:nth-child(1) {
	font-size: 14px;
}
/* song author */
.song-desc div:nth-child(2) {
	font-size: 12px;
}

/* 2. Second part of the footer*/
.player {
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}
/* controls is the container for all the center controls of the player */
.controls {
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
}
/* this is the song-duration slider */
#slider {
	width: 100%;
	font-size: 12px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
}
/* ////////// */
.time {
	margin: 0px 10px;
}

/* adjusting the slider for better visuals */
.slidecontainer {
	width: 100%;
}

/* for audio and main center player */
.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.5;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

/* hover effect for the slider */
.slider:hover {
	opacity: 1;
}

/* these are for adjusting the dimensions and default styling of the long-slider */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background: #007bff;
	cursor: pointer;
}

/* this is the circular thumb, which can be moved across the div */
.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4caf50;
	cursor: pointer;
}

/* third part of the footer */
/* this contains the extra icons and slider for volume */
/* this is also a container */
.extras {
	width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
